*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Bnner section start */
.banner-container{
    max-width: 100vw;
    height: 96vh;
    background: rgba(229, 84, 115, 0.1);
    
}
.banner-contant{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
}
.banner-text-container{
    width: 50%;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-text-container h1{
    font-size: 45px;
    font-weight: bold;
    color: #272727;
}
.banner-text-container p{
    font-size: 13px;
    font-weight: 400;
    color: #27272799;
    margin-top: 15px;
}
.btn{
    margin-right: 350px;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background: rgb(229, 84, 115);
    color: #fff;
    border: none;
}
.banner-img-container{
    width: 50%;
    height: 610px;
}
.banner-img-container img{
    width: 90%;
    height: 90%;
    margin-top: 60px;
   
}


@media screen and (max-width:576px) {
    .banner-contant{
        flex-direction: column;
    }
    .banner-container{
        height: 209vh;
    }
    .banner-text-container{
        width: 100%;
    }
    .banner-img-container{
        width: 100%;
    }
    .banner-img-container img{
        margin-top: 0px;
    }
}



/* flower section start */
.flower-section{
    max-width: 84vw;
    height: 85vh;
    margin: 0px auto;
    margin-top: 80px;
    margin-bottom: 50px;
}
.flower-section-text{
    text-align: center;
}
.flower-section-text h3{
    font-size: 30px;
    font-weight: bold;
    color: #272727;
    padding-top: 30px;
}
.flower-section-text p{
    font-size: 18px;
    color: #27272799;
    padding-top: 8px;
}
.flower-section-images{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    
}
.flower-section-img{
    width: 30%;
    height: 300px;
    border-radius: 200px 200px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.img-background{
    background: rgba(5, 151, 160, 0.15);
}
.img-background2{
    background: rgba(71, 125, 17, 0.15);
}
.flower-section-img img{
    width: 80%;
    height: 260px;
    margin-top: 38px;
}
.imges-text{
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
    color: #272727;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}


@media screen and (max-width:576px) {
    .flower-section-images{
        flex-direction: column;
    }
    .flower-section{
        height: auto;
    }
    .flower-section-img{
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        
    }
    .imges-text{
        display: none;
    }
    
}


/* services section start */
.servicec-section-container{
    max-width: 85vw;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.seervices-images{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 150px;
    width: 90%;
    margin: 0 auto;
    padding-top: 35px;
}

@media screen and (max-width:576px){
    .seervices-images{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .servicec-section-container{
        height: auto;
        padding-bottom: 30px;
    }
}

/* hot dell section start */

.hot-deal-section-conatiner{
    max-width: 100vw;
    height: 60vh;
    margin-top: 100px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.hot-deal-section-content{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.hot-deal-section-text{
    width: 50%;
    text-align: center;
}
.hot-deal-section-text h2{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

.hot-deal-section-text h2 span{
    color: #E55473;
}

.hot-deal-section-text h2 p{
    font-size: 13px;
    color: rgba(39, 39, 39, 0.6);
}

.button{
    margin-right: 0px;
}
.hot-deal-section-img{
    width: 400px;
    width: 250px;
}
.hot-deal-section-img img{
    width: 100%;
    margin-left: 80px;
}


@media screen  and (max-width:576px){
    .hot-deal-section-conatiner{
        height: auto;
        margin-bottom: 30px;
    }
    .hot-deal-section-content{
        flex-direction: column;
    }
    .hot-deal-section-text{
        width: 100%;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .hot-deal-section-img img{
        margin-left: 0;
    }
} 
    


